spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  jmx:
    enabled: false

management:
  endpoints:
    jmx:
      exposure:
        exclude: '*'
  jmx:
    metrics:
      export:
        enabled: false

logging:
  level:
    root: WARN
    com.iot.attendance: DEBUG
    com.iot.attendance.presentation.controller: DEBUG
    com.iot.attendance.infrastructure.exception: DEBUG
    org.springframework.web.servlet.mvc.method.annotation: DEBUG
    org.hibernate.engine.jdbc.spi.SqlExceptionHelper: ERROR